version: '3.8'

services:
  mongo1:
    image: mongo:5
    container_name: mongo1
    command: mongod --replSet myReplicaSet --bind_ip localhost,mongo1
    ports:
      - 27017:27017
    networks:
      - mongoCluster

  mongo2:
    image: mongo:5
    container_name: mongo2
    command: mongod --replSet myReplicaSet --bind_ip localhost,mongo2
    ports:
      - 27018:27017
    networks:
      - mongoCluster

  mongo3:
    image: mongo:5
    container_name: mongo3
    command: mongod --replSet myReplicaSet --bind_ip localhost,mongo3
    ports:
      - 27019:27017
    networks:
      - mongoCluster

  init-replica:
    image: mongo:5
    container_name: init-replica
    depends_on:
      - mongo1
      - mongo2
      - mongo3
    networks:
      - mongoCluster
    entrypoint: >
      sh -c "
      sleep 10 &&
      mongosh --host mongo1 --eval '
      rs.initiate({
        _id: \"myReplicaSet\",
        members: [
          {_id: 0, host: \"mongo1:27017\"},
          {_id: 1, host: \"mongo2:27017\"},
          {_id: 2, host: \"mongo3:27017\"}
        ]
      })
      ' &&
      echo 'Replica set initialized successfully!' || echo 'Replica set initialization failed!'
      "

  yolo5-service:
    image: bene1310/yolo5:v123
    container_name: yolo5-service
    ports:
      - 8081:8081
    environment:
      BUCKET_NAME: bene1310
      MONGO_URI: mongodb://mongo1:27017,mongo2:27017,mongo3:27017/?replicaSet=myReplicaSet
    volumes:
      - $HOME/.aws:/root/.aws:ro
    networks:
      - mongoCluster

  polybot:
    image: bene1310/polybot:v123
    container_name: polybot
    ports:
      - 8443:8443
    environment:
      TELEGRAM_TOKEN: ${TELEGRAM_TOKEN}
      TELEGRAM_APP_URL: ${TELEGRAM_APP_URL}
    depends_on:
      - yolo5-service
    networks:
      - mongoCluster

networks:
  mongoCluster:
    driver: bridge

